* {
    font-family: 'Do Hyeon', sans-serif;
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.WidthFullCenter {
    width: 100vw;
    text-align: center;
}

img {
    -webkit-user-drag: none;
}

.TextAlignCenter {
    text-align: center;
}